#https://nesoy.github.io/articles/2017-01/Git-Ignore
.vscode/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/hive-postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/hive-postgres-data/base/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/hive-postgres-data/base/*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/hive-postgres-data/global/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/hive-postgres-data/pg_*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/base/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/base/*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/global/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/pg_*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-apps/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mysql-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mysql-data/*/
/root/PySpark/Step3_setup_spark_cluster/A_Mongo/mongodb-data/*
/root/PySpark/Step3_setup_spark_cluster/A_Mongo/mongodb-data/diagnostic.data/*
/root/PySpark/Step3_setup_spark_cluster/A_Mongo/mongodb-data/journal/*
/root/PySpark/Step3_setup_spark_cluster/7_Airflow/postgres-data/*
/root/PySpark/Step3_setup_spark_cluster/7_Airflow/postgres-data/base/*
/root/PySpark/Step3_setup_spark_cluster/7_Airflow/postgres-data/base/*/*
/root/PySpark/Step3_setup_spark_cluster/7_Airflow/postgres-data/global/*
/root/PySpark/Step3_setup_spark_cluster/7_Airflow/postgres-data/pg_*/*
workspace/8_Kafka/trips/yellow_tripdata_2021-01.csv
