#https://nesoy.github.io/articles/2017-01/Git-Ignore
/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/base/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/base/*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/global/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/pg_*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/base/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/base/*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/global/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/pg_*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-apps/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mysql-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mysql-data/*/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/diagnostic.data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/journal/
.vscode/
